backcall==0.2.0
bacpypes==0.18.1
brotlipy==0.7.0
certifi==2020.11.8
cffi==1.14.3
chardet==3.0.4
cloudpickle==1.6.0
colorama==0.4.3
cryptography==3.2.1
decorator==4.4.2
idna==2.10
ipython-genutils==0.2.0
jedi==0.17.2
jupyter-client==6.1.6
jupyter-core==4.7.0
parso==0.7.0
pickleshare==0.7.5
pip==20.2.4
prompt-toolkit==3.0.7
pycparser==2.20
Pygments==2.7.1
pyOpenSSL==19.1.0
PySocks==1.7.1
python-dateutil==2.8.1
pyzmq==19.0.2
requests==2.24.0
setuptools==50.3.1
six==1.15.0
spyder-kernels==1.9.4
tornado==6.0.4
traitlets==5.0.5
urllib3==1.25.10
wcwidth==0.2.5
wheel==0.35.1
win-inet-pton==1.1.0
wincertstore==0.2
